@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Inter", sans-serif;
}

.logo {
  height: 100px; /* Adjust height as needed */
  background-color: transparent;
  position: relative;
}
.circles-container {
  display: flex;
  justify-content: space-around; /* Distribute circles evenly */
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.circle-1 {
  background-color: orange;
}

.circle-2 {
  background-color: blue;
}

.circle-3 {
  background-color: green;
}

.highlight {
  font-weight: bold;
}

.contactPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.formContainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.formSection {
  margin-bottom: 20px;
}

/* index.css or Navbar.css */
body {
  font-family: 'Playwrite AU SA', sans-serif; /* Apply the imported font */
}

.navbar-text {
  color: white; /* Set text color to white */
}

